:root{
    --blue:#11467d;
    --green#4c7335;
    --white#ffffff
    color: var(--blue);
    font-family: Arial,Helvetica, sans-serif;
}
body,header,main,footer,section,article,aside {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    
}